USE [master]
GO
/****** Object:  Database [TSMotelDB]    Script Date: 10/6/2024 9:46:43 PM ******/
CREATE DATABASE [TSMotelDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TSMotelDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\TSMotelDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TSMotelDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\TSMotelDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TSMotelDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TSMotelDB]
GO
/****** Object:  Table [dbo].[BangGia]    Script Date: 10/6/2024 9:46:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangGia](
	[GiaPhongKhu1] [decimal](19, 0) NOT NULL,
	[GiaPhongKhu2] [decimal](19, 0) NOT NULL,
	[GiaDien] [decimal](19, 0) NOT NULL,
	[GiaNuoc] [decimal](19, 0) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhieu]    Script Date: 10/6/2024 9:46:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieu](
	[MaPhieu] [int] NOT NULL,
	[SoDienTang] [int] NOT NULL,
	[SoNuocTang] [int] NOT NULL,
	[MaPhanKhu] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachTro]    Script Date: 10/6/2024 9:46:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachTro](
	[MaKhach] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[CCCD] [bigint] NULL,
	[DOB] [date] NULL,
	[GioiTinh] [nchar](10) NULL,
	[QueQuan] [nvarchar](255) NULL,
	[TinhTrang] [int] NOT NULL,
 CONSTRAINT [PK_KhachTro] PRIMARY KEY CLUSTERED 
(
	[MaKhach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LuuTruPhieu]    Script Date: 10/6/2024 9:46:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LuuTruPhieu](
	[MaLuuTru] [int] IDENTITY(1,1) NOT NULL,
	[MaPhieu] [int] NOT NULL,
	[SoDienCu] [int] NOT NULL,
	[SoNuocCu] [int] NOT NULL,
	[Thang] [int] NOT NULL,
	[Nam] [int] NOT NULL,
 CONSTRAINT [PK_LuuTruPhieu] PRIMARY KEY CLUSTERED 
(
	[MaLuuTru] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanKhu]    Script Date: 10/6/2024 9:46:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanKhu](
	[MaPhanKhu] [nchar](2) NOT NULL,
	[TenPhanKhu] [nchar](20) NOT NULL,
	[SoLuongPhong] [int] NOT NULL,
 CONSTRAINT [PK_PhanKhu] PRIMARY KEY CLUSTERED 
(
	[MaPhanKhu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuThang]    Script Date: 10/6/2024 9:46:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuThang](
	[MaPhieu] [int] IDENTITY(1,1) NOT NULL,
	[MaPhong] [int] NOT NULL,
	[Thang] [int] NOT NULL,
	[Nam] [int] NOT NULL,
	[TongTien] [decimal](19, 0) NOT NULL,
	[TinhTrang] [int] NOT NULL,
 CONSTRAINT [PK_PhieuThang] PRIMARY KEY CLUSTERED 
(
	[MaPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhongTro]    Script Date: 10/6/2024 9:46:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongTro](
	[MaPhong] [int] IDENTITY(1,1) NOT NULL,
	[SoPhong] [int] NOT NULL,
	[SoNguoi] [int] NULL,
	[NgayVao] [date] NULL,
	[MaPhanKhu] [nchar](2) NOT NULL,
	[MaKhach] [int] NULL,
	[TinhTrang] [int] NOT NULL,
 CONSTRAINT [PK_PhongTro] PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiTietPhieu]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieu_PhieuThang] FOREIGN KEY([MaPhieu])
REFERENCES [dbo].[PhieuThang] ([MaPhieu])
GO
ALTER TABLE [dbo].[ChiTietPhieu] CHECK CONSTRAINT [FK_ChiTietPhieu_PhieuThang]
GO
ALTER TABLE [dbo].[LuuTruPhieu]  WITH CHECK ADD  CONSTRAINT [FK_LuuTruPhieu_PhieuThang] FOREIGN KEY([MaPhieu])
REFERENCES [dbo].[PhieuThang] ([MaPhieu])
GO
ALTER TABLE [dbo].[LuuTruPhieu] CHECK CONSTRAINT [FK_LuuTruPhieu_PhieuThang]
GO
ALTER TABLE [dbo].[PhieuThang]  WITH CHECK ADD  CONSTRAINT [FK_PhieuThang_PhongTro] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[PhongTro] ([MaPhong])
GO
ALTER TABLE [dbo].[PhieuThang] CHECK CONSTRAINT [FK_PhieuThang_PhongTro]
GO
ALTER TABLE [dbo].[PhongTro]  WITH CHECK ADD  CONSTRAINT [FK_PhongTro_KhachTro] FOREIGN KEY([MaKhach])
REFERENCES [dbo].[KhachTro] ([MaKhach])
GO
ALTER TABLE [dbo].[PhongTro] CHECK CONSTRAINT [FK_PhongTro_KhachTro]
GO
ALTER TABLE [dbo].[PhongTro]  WITH CHECK ADD  CONSTRAINT [FK_PhongTro_PhanKhu] FOREIGN KEY([MaPhanKhu])
REFERENCES [dbo].[PhanKhu] ([MaPhanKhu])
GO
ALTER TABLE [dbo].[PhongTro] CHECK CONSTRAINT [FK_PhongTro_PhanKhu]
GO
USE [master]
GO
